PORT=5287
BASE_URL=http://localhost:5287

# Database Configuration
DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=root
DB_SYNCHRONIZE=true
DB_LOGGING=true

# REDIS Configuration
REDIS_NAME=deeplinks
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=root

# Rabbit Configuration
RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_USER=admin
RABBIT_PASSWORD=root

# Dynamic Configuration; with FALSE and '0 */10 * * * *' are set as default
REFRESHING_CONFIG_ENABLED=true
REFRESHING_CONFIG_CRON_TIME='*/15 * * * * *'
